{% extends 'base.html' %}
{% block body %}
<pre><code class="plaintext" id="about">
This is a hastebin clone done in flask. 
It was really interesting and also I learned many things
and I have used SQl for database
You can paste your code here.
You can also share your code with others.
</code></pre>
<center>Cloned With &#9829; By <a href="https://prajwalprakash3722.github.io/">Prajwal Prakash</a></center>
<div class="form-buttons">
    <a href="/"><button>New</button> </a>
    <a href="/about"><button>About</button> </a>
</div>


{% endblock %}