{% extends 'base.html' %}
{% block title %}
hastebin clone
{% endblock %}
{% block body %}
<form method="POST" action="/">
    <div class="form-group" id="container">
        <div class="form-start">
            &gt;
        </div>
        <div class="form-input">
            {% if value %}
            <textarea name="code" id="code" required>{{value.code}}</textarea>
            {% else %}
            <textarea name="code" id="code" required></textarea>
            {% endif %}
        </div>
    </div>
    <div class="form-buttons">
        <input type="submit" value="Save" name="save">
    </div>
</form>
{% if forked %}
<center>forked with &#9829; from <a href="/{{forked_info}}" target="_blank">this code.</a></center>
{% endif %}
{% endblock %}