{% extends 'base.html' %}
{% block body %}
<pre><code class="plaintext">This is a hastebin clone done in flask. 
It was really interesting and also i learned many things
This is a hastebin clone done in flask.
and I have used SQl for database
</code></pre>
<!-- 
<div class="codewrapper">
    <h2>Code in DataBase</h2>
    {% for code in codes %}
    <a href="/{{code.uuid}}" target="_blank">
        code {{ code.id}} created at
        <pre><code > { code.created_at}}</code></pre>
    </a>
    {% endfor %}
</div> -->
<div class="form-buttons">
    <a href="/"><button>New</button> </a>
    <a href="/about"><button>About</button> </a>
</div>


{% endblock %}